@import "./variables";
@import "./common";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    width: 100%;
    height: 64px;
    background-color: $carribean-green;
    position: sticky;
    top: 0;
    left: 0;
}

main {
    padding: 32px;
    min-height: calc(100vh - 117.6px);
    @include flex(column, center, center);
}

footer {
    background-color: $carribean-green;
    padding: 16px;
    text-align: center;
    color: $midnight-green;
    font-weight: bold;
}
